<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sehatq">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name="com.sehatq.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:theme="@style/LoginTheme"
            android:name="com.sehatq.ui.component.login.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name="com.sehatq.ui.component.splash.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/AppTheme"
            android:name="com.sehatq.ui.component.product.ProductListActivity"
            android:label="@string/title_activity_recipes">

        </activity>

        <activity
            android:theme="@style/AppTheme"
            android:label="@string/title_activity_purchase"
            android:name="com.sehatq.ui.component.purchase.PurchaseListActivity">
        </activity>

        <activity
            android:theme="@style/AppTheme"
            android:label=""
            android:name="com.sehatq.ui.component.product.SearchActivity">
        </activity>

        <activity
            android:theme="@style/AppTheme"
            android:name="com.sehatq.ui.component.details.DetailsActivity"
            android:label="" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>